
@media screen and (max-width:1700px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: wrap;
      }
}
  

table::-webkit-scrollbar-thumb {
    -webkit-appearance: none;
    width: 4px;
}